@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

html {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow-x: hidden;
}

body {
    height: 100%;
}

.landing-header {
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
}

h1,
h2 {
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 2px #fff;
}

h1,
p {
    text-align: center;
}

.navbar {
    background-color: rgb(0, 102, 0);
    padding-left: 0;
    margin: 0;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    font-size: 1rem;
}

.navbar-toggler {
    background-color: #fff !important;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 25px #fdec6e;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

.nav-search {
    width: 20rem;
}

.nav-button {
    margin-left: 0.3rem;
}

.jumbotron {
    background-image: url('/static/assets/landing.png');
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.headings-and-search {
    text-align: center;
    float: right;
    margin-right: 10rem;
}

.home-search {
    text-transform: lowercase;
    width: 25rem;
}

.search-button {
    margin: 0 30%;
}

.bg-img {
    background-image: url('/static/assets/background-lg.jpg');
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.alert {
    max-width: 20% !important;
    min-width: 20%;
    margin: 0 auto;
}

.form-control {
    max-width: 75%;
    min-width: 75%;
}

.add-plant-form,
.edit-plant-form,
.add-user-form,
.login-form,
.genera-list {
    width: 75%;
    margin: auto;
}

.add-plant,
.edit-plant,
.add-user-details,
.login-input,
.note {
    width: 75%;
}

.add-plant-input,
.edit-plant-input {
    text-transform: lowercase;
}


label {
    text-shadow: 1px 2px #fff;
}

.plant-info,
.user-info,
.genera-table {
    max-width: 40%;
    margin: auto;
}

.card {
    margin: 1rem;
}

.card.plant-card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
}

.card-img-top {
    height: 20rem;
    width: 15rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #013220;
}

.plant-image {
    height: 30rem;
    width: 30rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #013220;
}

.instruction-container,
.login-note-container {
    text-align: center;
}

.image-instructions,
.login-note {
    display: inline-block;
    width: 60%;
}

/* ------------ MEDIA QUERIES ----------- */

/* --------- SMALL DEVICES ----------- */

@media screen and (max-width: 700px) {

    .navbar-nav>li>a {
        text-align: center;
        text-shadow: 1px 1px black;
        background-color: rgba(0, 102, 0, 0.5);
        width: 25%;
        float: right;
        z-index: 1;
    }

    .nav-search {
        width: 10rem !important;
        float: right;
    }

    .jumbotron {
        background-image: url('/static/assets/mobile-landing.jpg');
        background-size: 100vw 100vh;
    }

    .headings-and-search {
        width: 90%;
        margin: 0 auto;
    }

    .home-search {
        width: 90%;
    }

    .bg-img {
        background-color: #D2E9D6;
        background-image: none;
    }

    .alert {
        max-width: 80% !important;
        min-width: 80%;
    }

    .form-control {
        min-width: 100%;
    }

    .add-plant,
    .edit-plant,
    .add-user-details {
        width: 100%;
    }

    .login-input {
        margin: 0 auto;
    }

    .image-instructions {
        font-size: 12px;
        width: 85%;
        font-weight: bold;
    }

    .plant-info,
    .user-info,
    .genera-table {
        max-width: 95%;
    }

    .plant-image {
        height: 22rem !important;
        width: 22rem !important;
        padding: 1rem 1.5rem;
        box-shadow: none;
    }

    button {
        padding: 0 10px;
        display: inline-block;
    }
}

/* ------------ MEDIUM DEVICES ----------*/

@media screen and (min-width:701px) and (max-width:1099px) {

    .navbar-nav>li>a {
        text-align: center;
        text-shadow: 1px 1px black;
        background-color: rgba(0, 102, 0, 0.5);
        width: 25%;
        float: right;
        z-index: 1;
    }

    .nav-search {
        float: right;
        width: 17.5rem;
    }

    .jumbotron {
        background-image: url('/static/assets/tablet-landing.jpg');
        background-size: 100vw 100vh;
    }

    .bg-img {
        background-color: #D2E9D6;
        background-image: none;
    }

    .alert {
        max-width: 70% !important;
        min-width: 70%;
    }

    p {
        font-size: 1rem;
    }

    .image-instructions {
        font-size: 14px;
        width: 85%;
        font-weight: bold;
    }

    .plant-image {
        width: 25rem;
        height: 25rem;
        padding: 1rem 1rem;
    }

    .plant-info,
    .user-info,
    .genera-table {
        max-width: 60%;
    }
}
