@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

h1,
h2 {
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
}

.navbar {
    background-color: #006600;
    padding-left: 0;
    margin: 0;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    font-family: 'Great Vibes', cursive;
    color: #fff;
    font-size: 1.2rem;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 25px #fdec6e;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

.headings-and-search {
    text-align: center;
}

.jumbotron {
    background-image: url('/static/assets/landing.png');
    background-position: center;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}


.bg-img {
    background-image: url('/static/assets/background-lg.jpg');
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.add-plant-input,
.edit-plant-input,
.home-search {
    text-transform: lowercase;
}

label {
    font-weight: bold;
    text-shadow: 1px 2px #fff;
}

/* ------------ MEDIA QUERIES ----------- */

/* --------- SMALL DEVICES ----------- */

@media screen and (max-width: 700px) {

    .navbar {
        height: 50px;
    }

    .jumbotron {
        background-image: url('/static/assets/mobile-landing.jpg');
        background-size: 100vw 100vh;
    }

    .fab {
        width: 250px;
        margin-right: 0;
    }

    .bg-img {
        background-image: url('/static/assets/background-sm.jpg');
    }
}

/* ------------ MEDIUM DEVICES ----------*/

@media screen and (min-width:701px) and (max-width:1099px) {

    .navbar {
        height: 65px;
    }

    .nav-link {
        font-size: 1rem;
    }

    .jumbotron {
        background-image: url('/static/assets/tablet-landing.jpg');
        background-size: 100vw 100vh;
    }

    .bg-img {
        background-image: url('/static/assets/background-med.jpg');
    }

}
