{% extends 'base.html' %} {% block content %}

<div class="container-fluid bg-img">
  <br>
  <h1>Add a Plant</h1>

  <form action="{{url_for('add_plant')}}" class="add-plant-form" method="POST">
    <div class="row">
      {% with errors = get_flashed_messages(category_filter=["plant_exists"]) %} {% if errors %}
      <div class="alert alert-danger col-xl-4 offset-xl-4 alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
        {%- for msg in errors %}
        <p>{{ msg }}</p>
        {% endfor -%}
      </ul>
      </div>
      {% endif %} {% endwith %}
    </div>
    <div class="row">
      <div class="form-group add-plant">
        <label for="latin_name">Latin Name (Species):</label>
        <input id="latin_name" name="latin_name" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="common_name">Common Name:</label>
        <input id="common_name" name="common_name" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="order">Order:</label>
        <input id="order" name="order" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="family">Family:</label>
        <input id="family" name="family" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="genus">Genus:</label>
        <input id="genus" name="genus" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="preferred_lighting">Preferred Lighting:</label>
        <input id="preferred_lighting" name="preferred_lighting" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="indoor_outdoor">Indoor/Outdoor:</label>
        <select class="form-control" name="indoor_outdoor" id="indoor_outdoor" required>
          <option value="Indoor">Indoor</option>
          <option value="Outdoor">Outdoor</option>
          <option value="Either">Either</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="water_frequency">Watering Frequency:</label>
        <input id="water_frequency" name="water_frequency" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="soil_type">Reccommended Soil Type:</label>
        <input id="soil_type" name="soil_type" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="additional_notes">Additional Notes:</label>
        <textarea id="additional_notes" name="additional_notes" type="text" class="form-control"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-plant">
        <label for="plant_image">Plant Photo:</label>
        <input id="plant_image" type="text" class="form-control" name="plant_image" placeholder="Add plant image link" required>
      </div>
      <div class="instruction-container">
        <p class="image-instructions">To add a plant photo, please upload your chosen plant photo to <a href="https://postimages.org/" target="_blank">postimages.org</a> and copy and paste the provided 'direct link' (second link down in list on postimages) into the input box above.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-success" type="submit">Add Plant</button>
      </div>
    </div>
  </form>
  <br>
</div>
{% endblock %}
