{% extends 'base.html' %} {% block content %}

<div class="container-fluid bg-img">
  <br>
  <h1>Create Account</h1>

  <div class="row">
    <div class="col text-center">
    <h6>Already have an account? <a href="{{url_for('login')}}">Login</a></h6>
  </div>
  </div>

  <form action="{{url_for('create_account')}}" method="POST" onSubmit="return checkPassword(this)">
    <div class="row">
      <div class="form-group add-user-details">
        <label for="first_name">First Name:</label>
        <input id="first_name" name="first_name" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-user-details">
        <label for="last_name">Last Name:</label>
        <input id="last_name" name="last_name" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-user-details">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" class="form-control" required>
      </div>
    </div>

    <div class="row">
      {# Retrieves error message from create_account function in app.py if the user tries to create an account with a username that is already in the database #}
      {% with errors = get_flashed_messages(category_filter=["username_exists"]) %} {% if errors %}
        <div class="alert alert-danger col-xl-4 offset-xl-4 alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul>
            {% for msg in errors %}
            <p>{{ msg }}</p>
            {% endfor %}
          </ul>
        </div>
        {% endif %} {% endwith %}
    </div>

    <div class="row">
      <div class="form-group add-user-details">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-user-details">
        <label for="hashed_pwd">Password:</label>
        <input id="hashed_pwd" name="password1" type="password" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group add-user-details">
        <label for="reenter_password">Re-enter password to confirm:</label>
        <input name="password2" type="password" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <button class="btn btn-success" type="submit">Create Account</button>
      </div>
    </div>
  </form>
</div>


<script type="text/javascript">
  // Function to check if passwords match 
  function checkPassword(form) {
    password1 = form.password1.value;
    password2 = form.password2.value;

    // If they don't match, return False     
    if (password1 != password2) {
      alert("\nPassword did not match: Please try again...")
      return false;
    }

    // If same return True and allow the user to continue 
    else {
      return true;
    }
  }
</script>

{% endblock %}
