{% extends 'base.html' %} {% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="headings">
        <h1 class="landing-header">Plant Pal</h1>
        <h3 class="landing-subhead">Your one-stop<br>plant encyclopedia</h3>
    </div>
    <div class="home-search">
        <form action="{{ url_for('get_search') }}" method="post">
            <input class="form-control" id="q" name="search_text" type="search" placeholder="Search all plants"><br>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>
</div>

{% endblock %}
