{% extends 'base.html' %} {% block content %}

<div class="jumbotron jumbotron-fluid">
    {% with errors = get_flashed_messages(category_filter=["logout_success"]) %} {% if errors %}
    <div class="alert alert-success col-xl-4 offset-xl-4 alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
            {%- for msg in errors %}
            <p>{{ msg }}</p>
            {% endfor -%}
        </ul>
    </div>
    {% endif %} {% endwith %}
    <div class="headings-and-search">
        <h1 class="landing-header display-1 offset-xl-6">
            Plant Pal
        </h1>
        <br>
        <h2 class="landing-subhead offset-xl-6">
            Your one-stop plant encyclopedia
        </h2>
        <br>
        <form action="{{ url_for('get_search') }}" method="post">
            <input class="form-control home-search col-xl-4 offset-xl-7" id="q" name="search_text" type="search" placeholder="Search all plants">
            <br>
            <button type="submit" class="btn btn-success offset-xl-6">Search</button>
        </form>
    </div>
</div>

{% endblock %}
