{% extends 'base.html' %} {% block content %}
<div class="container-fluid bg-img">
    <br>
    <h1 class="offset-xl-5 offset-lg-5">Login</h1>
    <br>
    <form action="{{url_for('authentication')}}" method="POST" class="col s12">
        <div class="form-group col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-8 offset-xs-2">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" class="form-control">
        </div>

        <div class="form-group col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-8 offset-xs-2">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" class="form-control">
        </div>
        <div class="note">
            <p class="offset-xl-5 offset-lg-5">Please note: Username and password are case sensitive</p>
        </div>
        <div class="row">
            <button class="btn btn-success offset-xl-6 offset-lg-6" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}
