{% extends 'base.html' %} {% block content %}
        <ul class="collection with-header">
            {% for plant in plants %}
        <li class="collection-header">{{plants.latin_name}}</li>
        <li class="collection-item">{{plants.common_name}}</li>
        <li class="collection-item">{{plants.order}}</li>
        <li class="collection-item">{{plants.family}}</li>
        <li class="collection-item">{{plants.genus}}</li>
        <li class="collection-item">{{plants.preferred_lighting}}</li>
        <li class="collection-item">{{plants.indoor_outdoor}}</li>   
        <li class="collection-item">{{plants.water_frequency}}</li>
        <li class="collection-item">{{plants.soil_type}}</li>
        <li class="collection-item">{{plants.additional_notes}}</li>
        {% endfor %}
      </ul>
            
{% endblock %}